<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Opções</title>
</head>

<body>
    <div class="flex flex-wrap w-scree h-screen justify-center pt-20 gap-4">
        <div class="w-[300px] h-[300px] shadow-2xl shadow-sky-900 drop-shadow-2xl px-28 py-24">
            <form action="/on" method="post">
                <button class="w-20 h-10 bg-black text-white rounded-lg">ON</button>
            </form>

            <form action="/off" method="post">
                <button class="w-20 h-10 bg-black text-white rounded-lg mt-4">OFF</button>
            </form>
        </div>
    </div>
</body>

</html>